@charset "utf-8";

body {
    background-color: #FFFFCC;
	/*text-align: center;*/
}
/*ナビバー*/
.navbar {
    background-color: #FF9900;
    border:none;
}

.btn {
    margin-bottom:20px;
    width:400px;
}

.glyphicon {
	margin:5px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


.hospital-img {
    float:left;
    width:30%;
    padding:20px;
}


.hospital-detail {
    float:left;
    width:70%;
}

.top-search {
	/*clear:both;*/
	float:left;
	width:300px;
}
.search-pref {
	float:right;
	width:300px;
}
.search {
	padding:20px;
	background-color:#fff;
	margin-bottom:20px;
	border: 1px solid #d7d7d7;
	border-radius: 10px;
}
.top-search input{
	display: none;
}
.top-search label{
	display: block;
	float: left;
	cursor: pointer;
	width: 120px;
	margin: 5px;
	padding: 10px;
	background: #e5e5e5;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .1s;
	border-radius: 5px;
}
.top-search label:first-of-type{
}
.top-search label:last-of-type{
	border-right: 0px;
}
.top-search input[type="radio"]:checked + label {
	background-color: #FF9900;
	color: #fff;
}
